@media (max-width: 1024px) and (orientation:landscape) {
  .main-logo {
    margin: 30px 0 30px;
  }
  .main-logo img {
    width: 30%;
  }
  .content-rotator {
    font-size: 18px;
    line-height: 24px;
    max-width: 650px;
    width: 90%;
  }
  #nav-boxes a {
    font-size: 19px;
  }
  #nav-boxes a i {
    margin-bottom: 10px;
    font-size: 26px;
  }
}
@media (min-width:768px) and (max-width:979px) {
  .main-logo {
    margin: 50px 0 60px;
  }
  .caption-inner .zoom i {
    font-size: 2em;
  }
  .caption-inner {
    margin-top: 15%;
  }
  .parallax {
    background-attachment: scroll;
  }
  .step-box h3 .num {
    margin: 12px 10px 12px 0;
  }
  .step-box h3 {
    line-height: 26px;
  }
}
@media (min-width:481px) and (max-width: 767px) {
  .our_team .member {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .sticky {
    display: none;
  }
  .main-logo {
    margin: 10px 0;
  }
  .main-logo img {
    width: 30%;
  }
  .content-rotator {
    font-size: 14px;
    line-height: 20px;
    max-width: 650px;
    width: 90%;
  }
  #nav-boxes a {
    font-size: 16px;
  }
  #nav-boxes a i {
    margin-bottom: 10px;
    font-size: 24px;
  }
  #pages.affix {
    padding-top: 0;
  }
  #about-us, #portfolio, #services, #contact, footer {
    padding: 50px 0;
  }
  .our_team .member {
    width: 100%;
  }
  [class*="span"] {
    padding: 10px;
  }
  #filters {
    position: absolute;
    z-index: 8;
    background: #fff;
    left: 50%;
    margin-left: -60px;
  }
  #filters li {
    float: none;
    clear: both;
    display: block;
    padding: 0;
  }
  #filters li a {
    color: #fff;
    background: skyblue;
  }
  #filters li a.selected {
    background: #fff;
    color: #000;
  }
  #trigger_portfolio {
    position: relative;
    z-index: 9;
    margin: 0 auto;
    float: none;
  }
  .caption-inner .rm-link {
    height: 35px;
    line-height: 35px;
  }
  .mix {
    width: 49.9%;
  }
  .testimonial-box {
    width: 90%;
  }
  .caption-inner .zoom i{
    font-size: 14px;
  }
  .caption-inner h2 {
    font-size: 20px;
  }
  #mob-header {
    position: fixed;
    width: 100%;
    height: 70px;
    background: #fff;
    display: block;
  }
  #mob-header.affix-top {
    top: -100px;
    transition: all .5s;
  }
  #mob-header.affix {
    transition: all .5s;
    top: 0;
    z-index: 9999;
  }
  .moblogo img {
    width: auto;
    height: 50px;
    margin: 10px 0 10px 30px;
  }
  .menutrigger {
    display: block !important;
    color: #78B79B;
    float: right;
    margin: 25px 35px 0 0;
    font-size: 22px;
  }
  .menutrigger:hover {
    text-decoration: none;
    color: #78B79B;
  }

  #navmobile {
    position: relative;
  }
  #navmobile ul {
    position: absolute;
    right: 10px;
    top: 100%;
    display: none;
  }
  #navmobile ul li {
    display: block;
  }
  #navmobile ul a {
    display: block;
    color: #fff;
    padding: 8px 15px;
  }
  #navmobile ul a:hover {
    text-decoration: none;
  }
  #navmobile ul a i {
    margin-right: 5px;
    width: 20px;
  }
  #navmobile .menu-1 a {
    background: #e86f56;
  }
  #navmobile .menu-2 a {
    background: #0092aa;
  }
  #navmobile .menu-3 a {
    background: #537f8a;
  }
  #navmobile .menu-4 a {
    background: #8f665a;
  }
}
@media (max-width: 320px) {

}